.center_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    box-sizing: border-box;
}

.game_map{
    display: grid;
    border: 40px solid aqua;
    height: 40vw;
    width: 40vw;
}

.game_cell{
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}